<!DOCTYPE html>
<html>	
<head>
<title>Login</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<meta name="keywords" content="Flat Dark Web Login Form Responsive Templates, Iphone Widget Template, Smartphone login forms,Login form, Widget Template, Responsive Templates, a Ipad 404 Templates, Flat Responsive Templates" />
<link href="/statics/kkit_crm/css/style.css" rel='stylesheet' type='text/css' />


</head>

<body>
<script src="/statics/kkit_crm/js/jquery.min.js"></script>
<script>$(document).ready(function(c) {
	$('.close').on('click', function(c){
		$('.login-form').fadeOut('slow', function(c){
	  		$('.login-form').remove();
		});
	});
});

</script>

 <h1>Welcome to king's Kit</h1>
<div class="login-form">
	<div class="close"> </div>
		<div class="head-info">
			<label class="lbl-1"> </label>
			<label class="lbl-2"> </label>
			<label class="lbl-3"> </label>
		</div>
			<div class="clear"> </div>
	<div class="avtar">
		<img src="/statics/images/login/avtar.png" />
	</div>
			<form method="post">{% csrf_token %}
					<input type="text" class="text" name="username" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" >
						<div class="key">
					<input type="password" name="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
						</div>
                	<div class="signin">
		<input type="submit" value="Login" >
	            </div>
			</form>

</div>


</body>
</html>